
.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
#menuHorizontal{
	padding: auto;
	margin: auto;
	text-align: right;
	display: none;

}

#donar {
	color: #0f228a;
	font-size: 25px;
	margin-top: 15px;
	margin-right: 40px;
	background-color: transparent;
	border: none;
}

#donar:hover{
	background-color: #0275d8;
	border: 1px solid;
}

.logo {

	padding-top: 10px; 
	margin-right: 100px;
	height: 70px;
}

#descripcion{
	margin: auto;
	padding: auto;
	margin-left: 150px;
	margin-top: 70px;
	width: 30%;
	font-size: 20px;
	display: none;
	float: left;

}
#video{
	margin: auto;
	padding: auto;
	margin-right: 250px;
	margin-top: 70px;
	width: 30%;
	font-size: 20px;
	display: none;
	

}
#datos{
	margin: auto;
	padding: auto;
	margin-left: 150px;
	margin-top: 70px;
	width: 20%;
	font-size: 20px;
	float: left;
	text-align: center;
	

}

