#menuHorizontal{
	padding: auto;
	margin: auto;
	text-align: right;

}

#donar {
	color: #0f228a;
	font-size: 30px;
	margin-top: 20px;
	margin-right: 30px;
}



.logo {

	padding-top: 10px; 
	margin-right: 70px;
	height: 70px;
}

